streamlit
pandas
HEAD
requests
sentence-transformers
streamlit
sqlite-utils
python-dotenv
requests
scikit-learn
=======
plotly
PyPDF2
python-docx
pdfplumber
ollama
bcrypt
4044707 (Update AI Resume Screening project)
